# pandas + related libs
pandas
pandas-profiling
polars
dask

# in-memory analytics
pyarrow
duckdb

# DuckDB for Jupyter Notebooks
jupysql
ipykernel
duckdb-engine

# external databases
databricks-connect
snowflake-snowpark-python[modin]
bigframes

# miscellaneous
streamlit